.article-title-backdrop {
  border-radius: 20px;
  background-image: linear-gradient(175deg, #21287e, #220427);
  color: white;
  text-align: center;
}
.article-contents-main li {
  position: relative;
  left: 20px;
}
.article-contents-main img {
  width: 100%;
}
.article-images-container {
  width: 100% !important;
  max-width: 400px !important;
}

.banner-images-container img {
  width: 100% !important;
  max-width: 900px !important;
}
.banner-images-container{
  width: 100% ;
  max-width: 900px !important;
  margin: 0px auto;
}
